<table
  role="presentation"
  cellspacing="0"
  cellpadding="0"
  border="0"
  style="width: 100%"
>
  <tr>
    <td align="left">
      <a
        href="<%= button1_url%>"
        style="
          display: inline-block;
          padding: 10px 20px;
          font-size: 14px;
          font-weight: 500;
          color: #ffffff;
          background-color: #1e429f;
          text-decoration: none;
          border-radius: 5px;
          width: calc(100% - 10px);
          box-sizing: border-box;
          text-align: center;
          border-radius: 8px;
          line-height: 21px;
          border: 1px solid #1e429f;
        "
        ><%= text_button1%></a
      >
    </td>
    <td align="right">
      <a
        href="<%= button2_url%>"
        style="
          display: inline-block;
          padding: 10px 20px;
          font-size: 14px;
          font-weight: 500;
          color: #1f2a37;
          text-decoration: none;
          border-radius: 5px;
          width: calc(100% - 10px);
          box-sizing: border-box;
          text-align: center;
          border-radius: 8px;
          line-height: 21px;
          border: 1px solid #e5e7eb;
        "
        ><%= text_button2%></a
      >
    </td>
  </tr>
</table>
