---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Publications">
  <div class="flex-1">
    <div
      class="flex flex-col gap-8 mx-auto max-w-[1000px] my-5 md:my-14 bg-white p-10 min-h-[520px] shadow-sm rounded-md border-1 border-slate-50"
    >
      <h1 class="leading-none text-4xl font-semibold">Publications</h1>
      <div class="flex flex-col gap-5">
        <h2 class="leading-none text-xl font-semibold">Journal articles</h2>
        <h3 class="leading-none font-semibold">
          Please cite the following article if you use any metadata, data, or
          functions of UNIC.
        </h3>
        <p class="text-slate-700 text-base font-normal">
          Liu, N. &amp; Russo, M. (accepted with revisions). A value-sensitive
          metadata schema for interpreting corpora: Implementation on the
          Unified Interpreting Corpus (UNIC) platform. <em>Interpreting</em>.
        </p>
        <h2 class="leading-none text-xl font-semibold">
          Conference proceedings and presentations
        </h2>
        <p class="text-slate-700 text-base font-normal">
          Liu, N. &amp; Russo, M. (2025). A value-sensitive metadata schema for
          interpreting corpora: Implementation on the Unified Interpreting
          Corpus (UNIC) platform. Accepted for presentation at the European
          Society for Translation Studies Congress, Leeds, UK.
        </p>
        <p class="text-slate-700 text-base font-normal">
          Liu, N. &amp; Russo, M. (2024). <a
            href="https://www.clarin.eu/sites/default/files/CLARIN2024_ConferenceProceedings_final.pdf#page=73"
            class="text-blue-800 hover:underline"
            target="__blank"
            >A core metadata schema for interpreting corpora: Implementation on
            the Unified Interpreting Corpus (UNIC) platform</a
          >. In V. Vandeghinste &amp; T. Kontino (Eds.), CLARIN Annual
          Conference proceedings. Barcelona: Online, 64–67. <a
            href="https://www.clarin.eu/sites/default/files/02_Liu-Russo_CLARIN2024_Metadata.pdf"
            class="text-blue-800 hover:underline"
            target="__blank">[slides]</a
          >
        </p>
        <p class="text-slate-700 text-base font-normal">
          Liu, N. & Russo, M. (2024). <a
            class="text-blue-800 hover:underline"
            href="http://www.giit.shisu.edu.cn/ciuti2024/en/CIUTI%20Conference%20Handbook.pdf"
            target="__blank"
            >Towards standardising metadata for interpreting corpora.</a
          > Presented at the <i
            >Conférence Internationale Permanente d'Instituts Universitaires de
            Traducteurs et Interprètes</i
          > (CIUTI) International Conference 2024, Shanghai.
        </p>
        <p class="text-slate-700 text-base font-normal">
          Liu, N. &amp; Russo, M. (2024). Towards standardising metadata for
          interpreting corpora. Presented at the <em
            >Conf&eacute;rence Internationale Permanente d&rsquo;Instituts
            Universitaires de Traducteurs et Interpr&egrave;tes</em
          > (CIUTI) International Conference 2024, Shanghai, China.
        </p>
      </div>

      <h2 class="leading-none text-4xl font-semibold">Introduction to UNIC</h2>
      <iframe
        title="YouTube video player"
        src="https://www.youtube.com/embed/LgTXMeNzWvg?si=OUp5A38R5SgdZLZi"
        width="560"
        height="315"
        frameborder="0"
        allowfullscreen="allowfullscreen"></iframe>
    </div>
  </div>
</Layout>
