---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="already-verified">
  <div
    class="mx-auto max-w-[1000px] my-5 md:my-14 p-10 min-h-[620px] shadow-sm rounded-md border-1 border-slate-50"
  >
    <div class="text-center">
      <div class="flex items-center justify-center mt-spacer-16 md:mt-spacer-0">
        <img src="/check-circle.png" alt="check-circle" />
      </div>
      <div class="flex flex-col justify-between h-[54px]">
        <p class="text-xl font-semibold leading-none">User already verified.</p>
      </div>
    </div>
  </div>
</Layout>
